Temp/
Library/
obj/
*.svd

!Library/*.asset
!Library/AssetImportState
!Library/AssetVersioning.db
!Library/BuildPlayer.prefs
!Library/ScriptMapper
!Library/assetservercachev3
!Library/expandedItems
!Library/guidmapper
!Library/unity default resources
!Library/unity editor resources



/Prototype01/Project.userprefs
/Prototype01/Assembly-CSharp.csproj
/Prototype01/Assembly-CSharp.pidb
/Prototype01/Assembly-CSharp-Editor.csproj
/Prototype01/Assembly-CSharp-Editor.pidb
/Prototype01/Assembly-CSharp-Editor-vs.csproj
/Prototype01/Assembly-CSharp-firstpass.csproj
/Prototype01/Assembly-CSharp-firstpass.pidb
/Prototype01/Assembly-CSharp-firstpass-vs.csproj
/Prototype01/Assembly-CSharp-vs.csproj
/Prototype01/Assembly-UnityScript-firstpass.pidb
/Prototype01/Assembly-UnityScript-firstpass.unityproj
/Prototype01/Assembly-UnityScript-firstpass-vs.unityproj
/Prototype01/Project.suo
Prototype01/.vs/Prototype01/v15/Server/sqlite3/db.lock
Prototype01/.vs/Prototype01/v15/Server/sqlite3/storage.ide
Prototype01/Assets/Scenes/sample.meta
Prototype01/ProjectSettings/ProjectVersion.txt
