Prototype01/Temp/
Prototype01/Library/
Prototype01/.vs/
Prototype01/.vscode/
Prototype01/Assembly-CSharp.csproj
Prototype01/Prototype01.userprefs
Prototype01/Assembly-CSharp.csproj
*.asset
Prototype01/ProjectSettings/EditorBuildSettings.asset